body:not(.form-modal) {
  background-color: #f2f4f6;
}

.dark {
  background-color: #000 !important;
  color: #fff !important;
}

header {
  -webkit-transition: 300ms all ease;
  position: fixed;
  top: 0;
  z-index: 459;
  width: 100%;
  transition: 300ms all ease;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 450;
  -webkit-box-shadow: 0 2px 25px rgb(0 0 0 / 5%);
  box-shadow: 0 2px 25px rgb(0 0 0 / 5%);
}

.p-0 {
  padding: 0 !important;
}

.menu-wrapper.d-lg-none.d-flex {

  justify-content: center;
  align-items: center;
}

header .section-top .right-nav .change-mood-wrap .change-mood {
  padding: 9px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 14px -10px rgb(0 0 0 / 30%);
  box-shadow: 0 2px 14px -10px rgb(0 0 0 / 30%);
  background-color: #323232;
  margin-left: 10px;
  cursor: pointer;
}

header .section-top .right-nav .change-mood-wrap .change-mood.dark-mood {
  background-color: #fff;
}

header .section-top .right-nav .change-mood-wrap .change-mood.dark-mood .icon {
  background-size: 16px;
  background-image: url(../img/brightt.png);
}

header .section-top {
  padding: 10px 0;
  background-color: #FAFAFA;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
}

header .section-top .navbar-brand {
  margin-right: 30px;
  padding: 0;
}

.navbar-brand {
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-nav {
  display: flex;
  /* flex-direction: column; */
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

header .close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}



#wowslider-container1 a.ws_prev>span::before {
  background: #fff!important;
  color: #000 !important;
}
#wowslider-container1 a.ws_next>span::before {
  background: #fff!important;
  color: #000 !important;
}

header .close-menu img {
  filter: grayscale(100) brightness(100);
}

header .section-top #myMenu .navbar-nav .nav-item {
  margin: 0 10px;
}

header .section-top #myMenu .navbar-nav .nav-item .nav-link {
  line-height: 13px;
  font-size: 13px;
  font-weight: 300;
  padding: 0;
  color: #323232;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

header .section-top #myMenu .navbar-nav .nav-item .nav-link:hover,
header .section-top #myMenu .navbar-nav .nav-item.active .nav-link {
  opacity: .7;
}

header .section-top .right-nav {
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

header .section-top .right-nav .change-mood-wrap {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 55px;
}

header .section-top .right-nav .change-mood-wrap .mood-info {
  line-height: 13px;
  font-size: 13px;
  font-weight: 300;
}


body:not(.dark) .light-text {
  display: none;
}

body.dark .dark-text {
  display: none;
}



/* dark mood */
body.dark {
  background-color: #000;
  color: #fff;
}

body.dark .lang-list li {
  background-color: rgba(255, 255, 255, 0.9);
}

body.dark .lang-list li a {
  color: #000;
}

body.dark .lang-list li:hover,
body.dark .lang-list li.active,
body.dark header .-wrapper {
  background-color: white;
}

body.dark .title {
  color: #fff;
}

body.dark header .section-top {
  background-color: #000;
}

body.dark header .section-top .navbar-brand img {
  -webkit-filter: grayscale(100) brightness(100);
  filter: grayscale(100) brightness(100);
}

body.dark header .section-top #myMenu .navbar-nav .nav-item .nav-link,
body.dark header .section-top .right-nav .change-mood-wrap .mood-info {
  color: #fff;
}

body.dark header .section-bottom {
  background-color: #000;
}

body.dark header .section-bottom #myMenu1 .navbar-nav .nav-item .nav-link {
  color: #fff;
}

body.dark header .section-bottom #myMenu1 .navbar-nav .nav-item .nav-link:hover,
body.dark header .section-bottom #myMenu1 .navbar-nav .nav-item.active .nav-link {
  opacity: .7;
}

body.dark #projects,
body.dark #other-services {
  background-color: #252323;
}

body.dark .ref-box {
  background-color: #f2f4f6;
  padding: 5px 0;
}

body.dark footer {
  background-color: #000;
}

body.dark footer .section-top h6,
body.dark footer .footer-list li,
body.dark footer .footer-list li a,
body.dark footer .section-bottom .copyright-row {
  color: #fff;
}

body.dark footer .section-top .change-lang-wrap .change-lang {
  background-color: #000;
}



header .section-top .right-nav .change-mood-wrap .change-mood.dark-mood {
  background-color: #fff;
}

header .section-top .right-nav .change-mood-wrap .change-mood {
  padding: 9px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 14px -10px rgb(0 0 0 / 30%);
  box-shadow: 0 2px 14px -10px rgb(0 0 0 / 30%);
  background-color: #323232;
  margin-left: 10px;
  cursor: pointer;
}

header .icon {
  background-size: 16px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(/img/moon.png);
}

.lang-list li {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.lang-list {
  -webkit-box-align: center;
  align-items: center;
}

.lang-list li:hover,
.lang-list li.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.lang-list li {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 10px;
  transition: 500ms all ease;
}

ul {
  list-style-type: none !important;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

.lang-list li a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
}

header .menu-wrapper {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #e1e1e15e;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  cursor: pointer;
}

header .menu-wrap {
  width: 20px;
}

header .menu-wrap .line:first-child {
  width: 90%;
}

header .menu-wrap .line {
  width: 100%;
  height: 2px;
  background-color: #323232;
  margin: 3px 0;
}

header .menu-wrap .line:last-child {
  width: 80%;
}

header .section-bottom {
  padding: 15px 0;
  background-color: #fff;
  /* -webkit-transition: 300ms padding ease; */
  transition: 300ms padding ease;
}

.p-0 {
  padding: 0 !important;
}

.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start;
}

header .section-bottom #myMenu1 {
  align-items: center;
  flex-grow: 1;
}

header .section-bottom #myMenu1 .navbar-nav .nav-item:first-child {
  margin-left: 0;
}

header .section-bottom #myMenu1 .navbar-nav .nav-item {
  margin: 15px;
}

header .section-bottom #myMenu1 .navbar-nav .nav-item .nav-link {
  line-height: 19px;
  font-size: 19px;
  font-weight: 500;
  padding: 0;
  color: #000;
  transition: 300ms all ease;
}

.lang-list li:hover,
.lang-list li.active {
  background-color: rgba(0, 0, 0, 0.2);
}

header .section-bottom .right-nav .order-btn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px 15px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border-radius: 25px;
  color: #000;
  background-color: #fff;
  transition: 300ms all ease;
}

header .section-bottom .right-nav .order-btn img {
  width: 26px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

header .section-bottom .right-nav .order-btn:hover {
  border-color: #7c4e56;
  background-color: #7c4e56;
  color: #fff;
}

header .section-bottom .right-nav .order-btn:hover img {
  -webkit-filter: brightness(100) grayscale(100);
  filter: brightness(100) grayscale(100);
}

.modal {
  z-index: 1000000 !important;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-backdrop {
  z-index: 0 !important;
}

.modal-content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding-top: 40px;
  position: relative;
  padding: 0 50px 150px;
}

.modal-header {
  padding: 22px 0 15px !important;
  border-bottom: 1px solid #7c4e56;
}

.input-box {
  position: relative;
  margin-bottom: 16px;
}

input.text,
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  border-radius: 4px !important;
  font-size: 14px !important;
  border: 2px solid #e6ecf2;
  outline: none;
  position: relative;
  -webkit-appearance: none;
  transition: all .3s ease;
  position: relative;

}

.btn-submit {
  background-color: #7c4e56 !important;
  color: #fff !important;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 0 26px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
}

.btn-submit:hover {
  box-shadow: none;
}

select:invalid {
  color: #757575;
}

select {
  /* -webkit-appearance: menulist-button; */
  color: black;
  background-image: url(/img/arrow-below.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px);
  background-size: 11px;
}

textarea {
  resize: none !important;
}

main {
  position: relative;
}

main #wowslider-container1 {
  height: 744px !important;
}
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev{
  top: 59% !important;
}

main #wowslider-container1 img {
  margin-top: 0 !important;
  height: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

@media only screen and (max-width:850px) {
  .ws_swipe_left ul li img {
    margin-left: 0 !important;
    width: 100% !important;
    display: none;

  }
}

main #wowslider-container1 .ws_images li {
  position: relative;
}

/*main #wowslider-container1 .ws_gestures .ws_images li img {*/
/*    width: 100% !important;*/
/*    margin: 0 !important;*/
/*}*/

main #wowslider-container1 .ws_images li .slide-title-wrap {
  position: absolute;
  top: 59%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  bottom: auto;
  width: 100%;
  z-index: 2;
  color: #fff;
}

main #wowslider-container1 .ws_images li .slide-title-wrap .slide-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  width: 60%;
  margin-bottom: 20px;
}

main #wowslider-container1 .ws_images li .slide-title-wrap p {
  width: 60%;
  font-size: 16px;
  opacity: .7;
}

main #wowslider-container1 .ws_cover {
  background: #24262926 !important;
}

main #wowslider-container1 a.ws_next,
main #wowslider-container1 a.ws_prev {
  width: 50px;
  height: 50px;
  font-size: 20px;
}

#wowslider-container1 a.ws_next>span:after,
#wowslider-container1 a.ws_prev>span:after {
  color: #fff !important;
}

#advantages {
  position: absolute;
  left: 0;
  /* background-color: #f2f4f6; */
  bottom: -102px;
  width: 100%;
  z-index: 100;
}

.advantage-row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -9px;
}

.advantage-row .advantage-box {
  position: relative;
  width: calc(25% - 18px);
  margin: 9px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 16px #2426291f;
  box-shadow: 0 2px 16px #2426291f;
  color: #242629;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 144px;
  padding: 24px 24px 20px;
}

.advantage-row .advantage-box h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #99724c;
}

.advantage-row .advantage-box .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.advantage-row .advantage-box .info span {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.advantage-row .advantage-box svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  fill: #99724c;
}

/* services */
#services {
  padding: 50px 0;
  margin-top: 100px;
  /* background-color: #f2f4f6; */

}

#other-services {
  background-color: #fff;
  padding: 50px 0;
}

#other-services .service-box-wrap:nth-child(1),
#other-services .service-box-wrap:nth-child(4) {
  display: none;
}

.service-box {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 13px;
  height: 330px;
  margin: 15px 0;
}

.service-box a {
  display: block;
  height: 100%;
  position: relative;
  border-radius: 13px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.service-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .77;
  border-radius: 13px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}

.service-box a .service-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  padding-bottom: 30px;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  will-change: transform;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.service-box a .service-info h5 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #fff;
}

.service-box a .service-info p {
  color: rgba(255, 255, 255, 0.53);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.title {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 300;
  color: #000;
}

body.dark .service-box a:hover {
  box-shadow: rgb(0 0 0 / 72%) 6px 2px 16px 0px, rgb(0 0 0 / 72%) -6px -2px 16px 0px;

}

.service-box a:hover {
  -webkit-box-shadow: rgba(193, 166, 137, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  box-shadow: rgba(193, 166, 137, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.service-box a:hover .service-info {
  -webkit-transform: none;
  transform: none;
}

.service-box a:hover .service-info p {
  opacity: 1;
}

#other-services {
  background-color: #fff;
  padding: 50px 0;
}

/* about */
#about {
  padding: 110px 0 50px;
}

#about .about-box {
  background: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 70px;
  position: relative;
}

#about .about-box .about-text {
  width: 50%;
  padding-right: 20px;
}

#about .about-box .about-text h5 {
  line-height: 28px;
  font-weight: bold;
  font-size: 28px;
  color: #7c4e56;
  margin-bottom: 20px;
}

#about .about-box .about-text p {
  color: #000;
  line-height: 1.43;
  margin-bottom: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

#about .about-box .about-text a {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 20px;
  border-radius: 25px;
  text-decoration: none;
  padding: 15px 45px;
  background: #7c4e56;
  border: 1px solid #7c4e56;
  -webkit-box-shadow: 0 10px 10px -10px rgba(124, 78, 86, 0.51);
  box-shadow: 0 10px 10px -10px rgba(124, 78, 86, 0.51);
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

#about .about-box .about-text a:hover {
  background-color: #fff;
  color: #7c4e56;
}

#about .about-box .img-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
}

#about .about-box .img-wrap img {
  height: 500px;
}

/* slogan */
#slogan {
  margin: 50px 0 0;
  height: 460px;
  background: url("../img/slogan-cover-1.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#slogan .slogan-text {
  position: relative;
  z-index: 1;
}

#slogan .slogan-text h5 {
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

#slogan .slogan-text p {
  font-size: 20px;
  margin: 0 auto 40px;
  max-width: 50%;
}

#slogan .slogan-text .more-btn {
  color: #60605e;
  display: inline-block;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(0, #6b6b6b));
  background: linear-gradient(90deg, #fff 50%, #6b6b6b 0);
  background-size: 200% 100%;
  background-position: 0 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding: 20px 90px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.25;
}

#slogan .slogan-text .more-btn div {
  position: absolute;
  margin: auto;
}

#slogan .slogan-text .more-btn div::before,
#slogan .slogan-text .more-btn div::after {
  content: '';
  position: absolute;
  background: #fff;
}

#slogan .slogan-text .more-btn div.border-1 {
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
}

#slogan .slogan-text .more-btn div.border-1::before,
#slogan .slogan-text .more-btn div.border-1::after {
  width: 1px;
  height: 100%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  bottom: 0;
}

#slogan .slogan-text .more-btn div.border-1::before {
  top: 0;
  left: -1px;
  -webkit-transform-origin: left;
  transform-origin: left;
}

#slogan .slogan-text .more-btn div.border-1::after {
  right: 0;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

#slogan .slogan-text .more-btn div.border-2 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#slogan .slogan-text .more-btn div.border-2::before,
#slogan .slogan-text .more-btn div.border-2::after {
  height: 1px;
  width: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition-delay: .05s;
  transition-delay: .05s;
  -webkit-transform-origin: left;
  transform-origin: left;
  left: 0;
}

#slogan .slogan-text .more-btn div.border-2::before {
  top: 0;
}

#slogan .slogan-text .more-btn div.border-2::after {
  bottom: 0;
}

#slogan .slogan-text .more-btn:hover {
  background-position: 100% 100%;
  color: #fff;
}

#slogan .slogan-text .more-btn:hover div::before,
#slogan .slogan-text .more-btn:hover div::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#slogan::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#references {
  padding: 50px 0 40px;
}

.justify-content-center {
  justify-content: center !important;
  align-items: center;
}

.ref-box {
  margin: 30px 10px;
  width: calc(14.28% - 20px) !important;
  height: 80px;
  border-radius: 6px;
}

.ref-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  opacity: .8;
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
  transition: filter .15s ease, opacity .15s ease, -webkit-filter .15s ease;
}

.ref-box:hover img {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

#call-to-action {
  padding: 75px 0;
  background-color: #0dd478;
}

.align-items-center {
  align-items: center !important;
}

#call-to-action h3 {
  font-size: 38px;
  color: #fff;
  padding-right: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
#call-to-action .buttons{
  direction: flex;
  flex-wrap: wrap;
}

#call-to-action .buttons .action-btn:first-child {
  background-color: #fff;
  color: #323232;
  text-decoration: none;
  margin-top: 40px;
  margin-right: 15px;
}

#call-to-action .buttons .action-btn {
  display: block;
  padding: 32px;
  text-decoration: none;
  width: 100%;
  max-width: 47%;
  border-radius: 10px;
  -webkit-transition: color 300ms ease, box-shadow 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
  transition: color 300ms ease, box-shadow 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
  -webkit-transition: color 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease, -webkit-box-shadow 300ms ease;
  transition: color 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease, -webkit-box-shadow 300ms ease;
  transition: color 300ms ease, transform 300ms ease, box-shadow 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, transform 300ms ease, box-shadow 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease, -webkit-box-shadow 300ms ease;
  transition: color 300ms ease, transform 300ms ease, box-shadow 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease;
}

#call-to-action .buttons .action-btn:last-child {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  margin-left: 15px;
}
#call-to-action .buttons .action-btn .arrow {
  margin-top: auto;
  /* font-family: 'Icons Startup X Template', sans-serif; */
  font-size: 22px;
  width: 33px;
  font-weight: 400;
  transform: rotate(-45deg);
}
#call-to-action .buttons .action-btn span {
  display: block;
  margin-bottom: 18px;
  font-size: 22px;
  font-weight: 600;
}

#call-to-action .buttons .action-btn .arrow {
  margin-top: auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: 'Icons Startup X Template', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.buttons {
  display: flex;
}

footer {
  background-color: #fff;
}

footer .section-top {
  padding: 50px 0 10px;
}

footer .section-top h6 {
  color: #000;
  font-weight: bold;
  margin: 20px 0 14px;
  font-size: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

footer .section-top .footer-list li {
  margin: 6px 0;
}

footer .footer-list li a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 1.25;
  text-decoration: none;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

footer .section-top .social-media {
  padding: 0 15px;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .section-top .social-media li {
  margin: 0 25px;
}

footer .section-top .social-media li a {
  font-size: 25px;
}

footer .section-top .social-media li a i {
  color: #b2b2b2;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

footer .section-top .social-media li a:hover i {
  color: #7c4e56;
}

footer .section-top .change-lang-wrap {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

footer .section-top .change-lang-wrap .lang-list {
  position: absolute;
  right: 0;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
  z-index: 1;
  opacity: 0;
}

.lang-list li:hover,
.lang-list li.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.lang-list li {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.lang-list li a {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
}

footer .section-top .change-lang-wrap .change-lang {
  background-color: #fff;
  margin-left: 10px;
  cursor: pointer;
  padding: 10px 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 25px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  position: relative;
  z-index: 2;
}

footer .section-top .change-lang-wrap .change-lang .icon {
  margin-right: 5px;
  position: relative;
  top: 1px;
}

footer .section-top .change-lang-wrap .change-lang .icon::before {
  content: "";
  font-family: "honorIconFont";
}

footer .section-bottom {
  border-top: 1px solid #ededed;
  padding: 16px 0;
}

footer .section-bottom .footer-list {
  margin-bottom: 12px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
}

footer .section-bottom .footer-list li {
  margin-right: 20px;
}

footer .footer-list li a:hover,
footer .footer-list li.active a {
  color: #7c4e56 !important;
}

footer .section-bottom .copyright-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  letter-spacing: 0.1px;
}



footer .section-bottom .copyright-row {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  letter-spacing: 0.1px;
}

footer .section-bottom .copyright-row p {
  margin-bottom: 0;
}

footer .section-bottom .copyright-row p a {
  color: rgba(0, 0, 0, 0.5);
}